<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.alie.aliepluginhookmixdex3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".plugin.activity.ProxyActivity"></activity>


        <!--=============================插件1=======================-->
        <activity
            android:name=".plugin.activity.ActivityMode$P01$Standard00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP01"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P01$SingleTask00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP01"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P01$SingleInstance00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP01"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P01$SingleTop00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP01"
            >
        </activity>

        <!--=============================插件2=======================-->
        <activity
            android:name=".plugin.activity.ActivityMode$P02$Standard00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP02"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P02$SingleTask00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP02"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P02$SingleInstance00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP02"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P02$SingleTop00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP02"
            >
        </activity>

        <!--=============================插件3=======================-->
        <activity
            android:name=".plugin.activity.ActivityMode$P03$Standard00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP03"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P03$SingleTask00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP03"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P03$SingleInstance00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP03"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P03$SingleTop00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP03"
            >
        </activity>

        <!--=============================插件4=======================-->
        <activity
            android:name=".plugin.activity.ActivityMode$P04$Standard00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="standard"
            android:process=":PluginP04"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P04$SingleTask00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:process=":PluginP04"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P04$SingleInstance00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:process=":PluginP04"
            >
        </activity>
        <activity
            android:name=".plugin.activity.ActivityMode$P04$SingleTop00"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:process=":PluginP04"
            >
        </activity>

    </application>

</manifest>